*{
  margin: 0;
  padding: 0;
}
body{
  background:skyblue;
  display: flex;
  justify-content: center;
  
}
.cd{
  padding: 15px;
  background: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}
.cd h1{
  color: red;
}
.cd a{
  text-decoration: none;
  color: #fff;
  padding: 5px 8px;
  background: red;
    border-radius: 4px;
    cursor: pointer;
margin: 10px 5px;
text-align: center;
}
.grid{
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(4,1fr);
}
.grid img{
  width: 200px;
}